

$enable-grid-classes: true !default;

// Utilities
$displays: none, block, flex, !default;
$overflows: auto, hidden !default;
$positions: relative, absolute, fixed, !default;

@each $overflow in $overflows { // it's work!!!
	.overflow-#{$overflow} {overflow: $overflow;} 
}