$colors: (
    /* DEFAULT */
    default: #ffffff,
    bg: #F3F3F3,
    
    /* COLOR */
    primary: #444ce0,
    purple: #5B2135,
    beiges: #D5C5B6,
    black: #272727,
    
	/* RARE */
    rare: #303133,
    rare-primary: red,
    rare-gray: #6f6e6e33,
    
);



